In [2]:
# Dependencies
import pandas as pd

In [4]:
# Read in the LAX temperatures dataset and create a box plot
temp_df = pd.read_csv("../Resources/lax_temperature.csv")
temperature = temp_df['HourlyDryBulbTemperature']

temp_df

          STATION                 DATE REPORT_TYPE  HourlyDryBulbTemperature
0     72295023174  2019-01-01T00:49:00       FM-16                        52
1     72295023174  2019-01-01T00:53:00       FM-15                        51
2     72295023174  2019-01-01T01:53:00       FM-15                        52
3     72295023174  2019-01-01T02:53:00       FM-15                        49
4     72295023174  2019-01-01T03:53:00       FM-15                        43
...           ...                  ...         ...                       ...
3524  72295023174  2019-04-18T21:53:00       FM-15                        60
3525  72295023174  2019-04-18T22:06:00       FM-16                        59
3526  72295023174  2019-04-18T22:12:00       FM-16                        58
3527  72295023174  2019-04-18T22:36:00       FM-16                        58
3528  72295023174  2019-04-18T22:53:00       FM-15                        58

[3529 rows x 4 columns]

In [10]:
# Use pandas to find potential outliers by calculating the interquartile range (IQR)


Q1 = temperature.quantile(0.25)


Q2 = temperature.quantile(0.5)


Q3 = temperature.quantile(0.75)


IQR = Q3 - Q1

print(f"The lower quartile of temperatures is: {Q1}")
print(f"The upper quartile of temperatures is: {Q3}")
print(f"The interquartile range of temperatures is: {IQR}")
print(f"The the median of temperatures is: {Q2} ")

The lower quartile of temperatures is: 54.0
The upper quartile of temperatures is: 60.0
The interquartile range of temperatures is: 6.0
The the median of temperatures is: 57.0

In [13]:
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
print(f"Values below {lower_bound} could be outliers.")
print(f"Values above {upper_bound} could be outliers.")

Values below 45.0 could be outliers.
Values above 69.0 could be outliers.

In [18]:
# Create a DataFrame of rows that could be outliers
outliers = temp_df.loc[(temp_df['HourlyDryBulbTemperature'] < lower_bound) | 
                       (temp_df['HourlyDryBulbTemperature'] > upper_bound)]

outliers


non_outliers = temp_df.loc[~(temp_df['HourlyDryBulbTemperature'] < lower_bound) | 
                            (temp_df['HourlyDryBulbTemperature'] > upper_bound)]
non_outliers

          STATION                 DATE REPORT_TYPE  HourlyDryBulbTemperature
0     72295023174  2019-01-01T00:49:00       FM-16                        52
1     72295023174  2019-01-01T00:53:00       FM-15                        51
2     72295023174  2019-01-01T01:53:00       FM-15                        52
3     72295023174  2019-01-01T02:53:00       FM-15                        49
6     72295023174  2019-01-01T04:53:00       FM-15                        46
...           ...                  ...         ...                       ...
3524  72295023174  2019-04-18T21:53:00       FM-15                        60
3525  72295023174  2019-04-18T22:06:00       FM-16                        59
3526  72295023174  2019-04-18T22:12:00       FM-16                        58
3527  72295023174  2019-04-18T22:36:00       FM-16                        58
3528  72295023174  2019-04-18T22:53:00       FM-15                        58

[3499 rows x 4 columns]

In [20]:
# How many potential outliers are there in the dataset?
len(outliers)

153